.button {
  border: 1px solid var(--button-bg);
  padding: 8px 16px;
  background: var(--button-bg);
  color: var(--button-text);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  height: var(--button-height);
  &[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.normal {
  }
  &.important {
  }
  &.danger {
    background: var(--button-bg-danger);
    border-color: var(--button-bg-danger);
  }
}
