.form {
  padding: 16px;
}
.formRow {
  margin-top: 8px;
}
.formLabel {
  display: block;
}
.formItem {
  min-height: var(--input-min-height);
  max-width: 100%;
  &.button {
    width: 100%;
  }
  &.input {
    flex-grow: 1;
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-radius);
    font-size: 18px;
    font-family: inherit;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: inset 0 0 3px var(--input-shadow);
    &.error {
      border-color: var(--error-color);
    }
  }

  &_name {
  }
  &_value {
    display: flex;
    margin-top: 4px;
    > * {
      flex-grow: 1;
    }
  }
  &_errorHint {
    margin-top: 4px;
    color: var(--error-color);
    font-size: 12px;
  }
}
