.tabs {
  position: relative;
  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--navbar-text);
    position: sticky;
    z-index: 1;
    top: 0;
    background: var(--navbar-bg-end);

    > li {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 12px 0;
      &.selected {
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: var(--tabs-indicator-bg);
        }
      }
    }
  }
}
