.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #5d33be 0%, #8f4cd7 100%);
  > header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    color: #D4D4EE;
  }
  > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  > footer {
    flex-shrink: 0;
  }
}
