.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  > header{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  > main{
    flex-grow: 1;
  }
  > footer{
    flex-shrink: 0;
  }
}