.wrapper {
  margin-bottom: 128px;
}
.topItem {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sign {
    flex-grow: 0;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tag-bg);
    border-radius: 50%;
  }
  .bar_wrapper {
    margin-left: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    .bar_text {
      color: var(--text-muted);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .bar {
      height: 8px;
      border-radius: 4px;
      background: var(--bar-bg);
      position: relative;
      overflow: hidden;
      margin-top: 4px;
    }
    .bar_inner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 42px;
    }
  }
  &:nth-child(1) {
    .bar_inner {
      background: #eba953;
    }
  }
  &:nth-child(2) {
    .bar_inner {
      background: #53a867;
    }
  }
  &:nth-child(3) {
    .bar_inner {
      background: #91cc75;
    }
  }
}
